<%- include("partials/header"); -%>

<!--<h1>Signup form</h1>
<form action="/register" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Submit</button>
</form>-->

<div class="container">
   <div class="row">
	   <div class="col-md-5 m-auto">
		    <h1 class="a-r-margin">Sign up here</h1>
            <p>It's fast and easy.</p>
		    <div>
      		<form action="/register" method="post">
            <div class="form-group">
      			<input class="form-control form-control-lg" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
      			<input class="form-control form-control-lg" type="password" name="password" placeholder="password">
          </div>
            <input class="btn btn-lg btn-outline-info btn-block" type="submit" value="Sign up">
      		</form>
     </div>
	   </div>
   </div>
</div>


<%- include("partials/footer"); -%>
